$color_white: #ffffff;
$color_yellow: #fce38a;
$color_black: #333333;
$color_coral: #f38181;
$color_lightgray: #cccccc;
$color_gray: #999999;
$color_seagreen: #95e1d3;
$montserrat-fonts: 'Montserrat', Helvetica, sans-serif;
$kaushan-fonts: 'Kaushan Script', Helvetica, sans-serif;
$roboto-fonts: 'Roboto', Helvetica, sans-serif;
