@media (min-width: 960px) {
    .container {
        max-width: 940px;
    }
    .header {
        padding-top: 57px;
      
      }
    
      .header__logo {
        margin-top: 0;
      }
     
      .first-section {
        min-height: 100vh;
        background-image: url("../img/good-company.png");
        background-position: center;
        background-size: cover;
        padding-bottom: 170px;
      }

      .second-section__inner {
          max-width: 940px;
      }
      
      .second-section-list {
        flex-direction: row;
        justify-content: space-between;
      }
    
      .second-section-item {
        width: 25%;
      }
      .second-section-item :last-child {
        margin-right: 0;
      }
    }
}